/node_modules
/Dockerfile
/.dockerignore
/LICENSE
/README.md
/.git
/.gitignore
/.github
/.claude
/.env
/.env.*
/test
/data/db.sqlite
/data/*.sqlite
/data/*.sqlite-journal
/data/*.sqlite-wal
/data/*.sqlite-shm
/docker-compose.yaml
/docker-compose.dev.yaml
